.navbar {
    display: flex;
    background-color: blueviolet;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar ul li {
    list-style: none;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
}
.navbar ul li a {
    text-decoration: none;
}