.cadastro {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    font-weight: bold;
    padding: 10px;
    width: 30%;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 30px auto;
  }
  .cadastro input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
  }
  
  .buttons button {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: blueviolet;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 5px;
  }
  .buttons button:hover {
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
    margin-top: -8px;
  }
  .buttons {
    display: flex;
  }